<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .container {
    padding-top: 10px;

  }

  .list {
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;

  }

  .todo {
    align-items: center;
    margin-bottom: 20px;
  }

  .Todolist{
    justify-content: center;
    display: flex;
  }

  .addTask {
    width: 500px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    height: 50px;
  }

  /* tbody{
    justify-content: center;
    display: flex;
  } */

 tr{
  width: 500px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
   padding-right: 25px;
   margin-bottom: 10px;
    height: 50px;
    
}

th{
  padding-left: 30px;
  padding-right: 30px;
}

td{
  width: 400px;
}

.done{
  text-decoration:line-through;
}


</style>
<div class="container fluid">
  <div class="list">
    <div class="todo center h2">To-Do-List</div>
  </div>
<div class="Todolist">
  
  <div class="Task">
    <div class="addTask">

      <div class="col-lg-8">
        <input type="text"placeholder="Enter new Task" [(ngModel)]="newTodo" style="width:300px">
      </div>
      
      <div class="col-lg-2">
        <button (click)="addToList()" class="btn btn-light text-success">
          ADD TASK
        </button>
      </div>
    </div>


    <div class="newtask">
        <table class="table table-striped"></table>
        <tbody>
          <tr  *ngFor="let todo of todos;let i=index;">
            <th scope="row">{{i+1}}</th>
            <td class="{{(!todo.isCompleted)?'done':''}}"(click)="done(i)">{{todo.name}}</td>
            <!-- <td style="color: red;font-weight:bold ;">X</td> -->
            <button (click)="remove(i)" class="btn btn-light text-success">
              CANCEL
            </button>
          </tr>
        </tbody>
      </div>
</div>

</div>
  

  </div>
